body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
    margin: 10px;
    font-size: 1em;
}

#resultado {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}
